**/*.sh
**/*.txt
**/*.csv
**/*.e
**/*.o
**/*.depend
**/*-opt
**/.ROUT
**/.RIN
**/.DS_Store
**/._.DS_Store
doxygen/build/
doxygen/html/
doxygen/latex/
src/stable/
src/RIGIDPARTICLECHAIN
src/FORCEFIELD
