*.o
*.depend
*-opt
docs/doxygen/html/
docs/doxygen/latex/
docs/sphinx/build/
examples/*/*/run.sh
examples/*/*/zclean.sh
examples/*/*/*.txt
examples/*/*/*.vtk
examples/*/*/*.csv
examples/*/*/out.*
examples/*/*/rcc.sh
examples/*/*/*.e
examples/*/*/*.e-s.*
examples/*/*/*.dat
examples/*/*/*.info
src/stable/

